[submodule "deps/cpptoml"]
	path = deps/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/rustfp"]
	path = deps/rustfp
	url = https://github.com/guangie88/rustfp.git
[submodule "deps/Catch"]
	path = deps/Catch
	url = https://github.com/philsquared/Catch.git
